<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Champions Trophy</title>
    <meta name="description" content="fantasy points">
    <meta name="author" content="vino">

    <link rel="stylesheet" href="css/impl.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="js/app.js"></script>
</head>


<body ng-app="myApp" ng-controller="myController">
    <header>
        <h1>Champions Trophy</h1>

    </header>

    <div>
        <button id="showrank" ng-click="showRankings()">Show Rankings</button>
 </div>
        
    <div>
        <button id="hiderank" ng-click="hideRankings()">Hide Rankings</button>
    </div>
    <div ng-show=showrank>
            <ol id='list'>
                <li ng-repeat="score in teamScores | orderBy:'-total'">{{score.name}}&nbsp;&nbsp;&nbsp;{{score.total}}</li>

            </ol>
   </div>
   
    <!--  <div>
            <table id="ranks">
                <tr>
                    <th>Team</th>
                    <th>Total</th>
                </tr>
                <tr ng-repeat="participant in allParticipants"> 
                   <td>{{participant.name }}</td>
                      <td>{{participant.total }}</td>  
                </tr>
            
            
            </table>
        
        </div>-->


    <div class="container">
        <table id="players" ng-repeat="participant in allParticipants">
            <caption>
                <h2>{{participant.name}}</h2>

            </caption>

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Country </th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody class="container">
                <tr ng-repeat="player in participant.players">
                    <td>
                        {{player.name}}
                    </td>

                    <td>
                        {{player.country}}
                    </td>

                    <td>
                        {{player.totalpoints}}
                    </td>

                </tr>
                <tr class="totalScore">

                    <td>Total Score:</td>
                    <td></td>
                    <td id="points">{{totalScore(participant)}}</td>


                </tr>
            </tbody>
        </table>
    </div>



</body>

</html>